include README.md
include LICENSE
include requirements.txt
include .env.example
include mkdocs.example.yml
recursive-include mkdocs_llm_autodoc *.py
recursive-include mkdocs_llm_autodoc/templates *.md
